.categories{
    display: flex;
    justify-content: space-evenly;
    padding: 0.1rem 1.2rem;
    background: #f9f4f4;
    text-decoration: none;
    cursor: pointer;

}
.categories p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;

}

.categories p:hover{
    color: orange;
    font-weight: bold;
    transition: 0.3s;
    
}


.offers{
    margin: 4rem auto;
    width: 30rem;
    border-radius: 10px;
    cursor: pointer;
}

.offers p{
    text-align: center;
    color: white;
    padding: 0.5rem;
    font-family: poppins, sans-serif;
}


.container_carrossel {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #f5f5f5;      
}


.carrossel {
  position: relative;
  max-width: 800px;         
  width: 100%;
  border-radius: 16px;
  overflow: hidden;         
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.carrossel video {
  display: block;
  width: 100%;              
  height: auto;             
  object-fit: cover;        
  border-radius: 16px;
}

